
.otsikko{   
    color: black;
    font-size: 0,4vw;
    text-align: center;
    
    
    
}

.display{
    display: flex;
    justify-content: center;
    color: black;
    /*width: 30%;
    margin-left: 35%;
    margin-right: 35%;*/
    font-size: 100%;
    
    
}

.button{
    
    transition-duration: 0.4s;
    width: 30%;
    margin-left: 35%;
    background-color: rgba(146, 146, 146, 0.877);
    color: black;   
    display: inline-block;
    
    

}
.buttonsaver{
    
    transition-duration: 0.4s;
    width: 15%;
    background-color: rgba(146, 146, 146, 0.877);
    color: black;   

}

.button:hover {
    background-color: #4CAF50; 
    color: white;
  }

  .buttonsaver:hover {
    background-color: #4CAF50; 
    color: white;
  }


.input{
    
    text-align: center;
    width: 20%;

}

/*poistaa bulletit*/
ul{
    list-style: none;
}

li {
    padding: 5px;
    border-bottom: 1px solid #141823;
  }

  li:hover {
    background-color: #f7f8f9;
  }


.stopwatch{
 /* height: 50%;
  width: 100%;*/
  border-style: ridge;
  margin: auto;
}

.saver{
    border-style: ridge;
    margin-top: 3%;
    
    /*background-color:black;*/
    /*padding-top: 4%;*/
    /*padding-left: 15%;
    margin-top: auto;*/
  
}