
.otsikko{   
    color: black;
    font-size: 0,4vw;
    text-align: center;
    
    
    
}

.display{
    display: flex;
    justify-content: center;
    color: #4CAF50;
    border-color: #4CAF50;
    
    




    
}

.button{
    
    transition-duration: 0.4s;
    width: 15%;
    background-color: rgba(146, 146, 146, 0.877);
    color: black;   

}

.button:hover {
    background-color: #4CAF50; 
    color: white;
  }



.input{
    
    text-align: center;
    color: #4CAF50;
    width: 20%;

}



.stopwatch{
 /* height: 50%;
  width: 100%;*/
  border-style: ridge;
  margin: auto;
}

.saver{
    border-style: ridge;
    margin-top: 3%;
    
    /*background-color:black;*/
    /*padding-top: 4%;*/
    /*padding-left: 15%;
    margin-top: auto;*/
  
}